.textostile{
  color: rgb(0, 0, 0);
  
}
.textostile:hover{
  color: rgb(0, 0, 0);
}
.barra{
  background-color: rgb(249, 250, 249)
}
.imgsize{

  padding-top: 1%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.textobienvenido{
  text-align : justify;
  padding-top: 3%;
  color: rgb(110, 114, 110);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.imgsizebienvenido{
  padding-top: 18%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.hr{
  height:100px:
}