.textostile{
  color: rgb(0, 0, 0);
  
}
.textostile:hover{
  color: rgb(0, 0, 0);
}
.barra{
  background-color: rgb(249, 250, 249)
}
.imgsize{

  padding-top: 1%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imgsize2{

  padding-top: 1%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imgsizex{
  width: 100%;
}
.textobienvenido{
  text-align : justify;
  padding-top: 3%;
  color: rgb(110, 114, 110);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.imgsizebienvenido{
  padding-top: 18%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.hr{
  height:100px;
}

.textocabina{
  text-align : justify;
  padding-top: 5%;
  color: rgb(110, 114, 110);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imgsizecontrol{
  
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.imgsize3{
  width: 120%;
}

.margenn{
  padding-bottom: 6%;
}
.textoconsola{
  text-align : justify;
  padding-top: 3%;
  padding-bottom: 3%;
  color: rgb(110, 114, 110);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imgsizechica1{
  padding-top: 1%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.imgsizechica2{
  padding-top: 1%;
  width: 81%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}



#navbar{
  float: right;
}




/* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding-top: 8px;
  padding-right: 50px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ffffff;}













